# Create data base

In [24]:
# Import the sqlite3 module for SQLite database interaction
import sqlite3

# Connect to the SQLite database (if the file doesn't exist, SQLite will create it)
con = sqlite3.connect("BooksDataBase.db")

# Create tables

In [25]:
# Create a cursor object to interact with the SQLite database
cur = con.cursor()

# Create Books Table
cur.execute('''
CREATE TABLE books (
    ISBN VARCHAR(13) PRIMARY KEY,
    "Book-Title" VARCHAR(255) NOT NULL,
    "Book-Author" VARCHAR(100) NOT NULL,
    "Year-Of-Publication" INTEGER,
    "Publisher" VARCHAR(100),
    "Image-URL-S" VARCHAR(255),
    "Image-URL-M" VARCHAR(255),
    "Image-URL-L" VARCHAR(255)
);
''')

# Create Ratings Table
cur.execute('''
CREATE TABLE ratings (
    "User-ID" INTEGER,
    ISBN VARCHAR(13),
    "Book-Rating" INTEGER,
    PRIMARY KEY ("User-ID", ISBN),
    FOREIGN KEY (ISBN) REFERENCES books(ISBN)
);
''')

# Create Users Table
cur.execute('''
CREATE TABLE users (
    "User-ID" INTEGER PRIMARY KEY,
    "Location" VARCHAR(255),
    "Age" INTEGER
);
''')

# Be sure to close the connection
con.close()

# Load data from spreadsheet to data base

In [22]:
import pandas as pd
import sqlite3

# Connect to the SQLite database (if the file does not exist, SQLite will create it)
database_file = 'BooksDataBase.db'
conn = sqlite3.connect(database_file)

# List of tables to be processed
tables = ['books', 'users', 'ratings']

# Iterate over each table
for table in tables:
    
    # Path to the CSV file
    csv_file_path = 'raw_data/' + table + '.csv'

    # Read data from the CSV file
    # Note: ISO-8859-1 encoding is used, and lines with errors are skipped
    df = pd.read_csv(csv_file_path, encoding='ISO-8859-1', on_bad_lines='skip', sep=';', low_memory=False)

    # Name of the table in the database
    table_name = table

    # Load data into the database
    df.to_sql(table_name, conn, if_exists='replace', index=False)
    
    # Print a success message
    print(f'Data loaded into the {table_name} table of the {database_file} database successfully.')

# Close the connection
conn.close()

Data loaded into the books table of the BooksDataBase.db database successfully.
Data loaded into the users table of the BooksDataBase.db database successfully.
Data loaded into the ratings table of the BooksDataBase.db database successfully.

 # Queries

### 1. Top 10 Locations with the Highest Number of Reviews

In [38]:
import pandas as pd
import sqlite3

# Using 2 methods to retrieve records from the database: 1. cursor, 2. dataframe

# Create a SQL connection to our SQLite database
database_file = 'BooksDataBase.db'
conn = sqlite3.connect(database_file)

# Create a cursor to execute SQL queries
cur = conn.cursor()

# SQL query to retrieve the top 10 locations with the highest number of reviews
querystring = '''
    SELECT u."Location", COUNT(r."User-ID") as "Reviews-Qty"
    FROM users u 
    INNER JOIN ratings r 
    ON u."User-ID" = r."User-ID"
    GROUP BY u."Location" 
    ORDER BY "Reviews-Qty" DESC
    LIMIT 10
'''

# The result of a "cursor.execute" can be iterated over by row
print("Top 10 Locations with the Highest Number of Reviews:")
for row in cur.execute(querystring):
    print(row)

# Execute the query using a Pandas DataFrame
df = pd.read_sql_query(querystring, conn)

# Display the result as a DataFrame
print(df)

# Be sure to close the connection
conn.close()

Top 10 Locations with the Highest Number of Reviews:
('toronto, ontario, canada', 16431)
('n/a, n/a, n/a', 13623)
('ottawa, ontario, canada', 9075)
('chicago, illinois, usa', 8722)
('seattle, washington, usa', 8541)
('olympia, washington, usa', 8033)
('london, england, united kingdom', 7979)
('omaha, nebraska, usa', 7856)
('little canada, minnesota, usa', 7552)
('st. louis, missouri, usa', 7366)
                          Location  Reviews-Qty
0         toronto, ontario, canada        16431
1                    n/a, n/a, n/a        13623
2          ottawa, ontario, canada         9075
3           chicago, illinois, usa         8722
4         seattle, washington, usa         8541
5         olympia, washington, usa         8033
6  london, england, united kingdom         7979
7             omaha, nebraska, usa         7856
8    little canada, minnesota, usa         7552
9         st. louis, missouri, usa         7366

### 2. Top 10 Books by Reviews-Qty and Avg-Rating

In [39]:
import pandas as pd
import sqlite3

# Create a SQL connection to our SQLite database
database_file = 'BooksDataBase.db'
conn = sqlite3.connect(database_file)

# SQL query to retrieve book titles, the number of reviews, and average rating for the top 10 reviewed books
querystring = '''
    SELECT  b."Book-Title", COUNT(r."User-ID") as "Reviews-Qty" , 
    AVG(r."Book-Rating") as "Rating-Avg" 
    FROM books b
    INNER JOIN ratings r 
    ON b."ISBN"=r."ISBN"
    GROUP BY b."Book-Title" 
    ORDER BY "Reviews-Qty" DESC
    LIMIT 10
'''

# Title for the printed DataFrame
print("Top 10 Books by Reviews-Qty and Avg-Rating:")

# Execute the query using a Pandas DataFrame
df = pd.read_sql_query(querystring, conn)

# Print the DataFrame
print(df)

# Be sure to close the connection
conn.close()

Top 10 Books by Reviews-Qty and Avg-Rating:
                                        Book-Title  Reviews-Qty  Rating-Avg
0                                      Wild Animus         2502    1.019584
1                        The Lovely Bones: A Novel         1295    4.468726
2                                The Da Vinci Code          898    4.642539
3                                  A Painted House          838    3.231504
4                       The Nanny Diaries: A Novel          828    3.530193
5                            Bridget Jones's Diary          815    3.527607
6                          The Secret Life of Bees          774    4.447028
7  Divine Secrets of the Ya-Ya Sisterhood: A Novel          740    3.437838
8              The Red Tent (Bestselling Backlist)          723    4.334716
9                              Angels &amp; Demons          670    3.708955

Se encontro que el libro que mas reviews tiene no es el que mejor rating tiene. Se har√°n un nuevo query para ver cuales son los libros con mejor rating pero con cantidad de reviews mayor a 300.

### 3. Top 10 best books with more than 300 reviews

In [40]:
import pandas as pd
import sqlite3

# Create a SQL connection to our SQLite database
database_file = 'BooksDataBase.db'
conn = sqlite3.connect(database_file)

# SQL query to retrieve book titles, average rating, and number of reviews for books with more than 300 reviews
querystring = '''
    SELECT  b."Book-Title", 
    AVG(r."Book-Rating") as "Rating-Avg", COUNT(r."User-ID") as "Reviews-Qty" 
    FROM books b
    INNER JOIN ratings r 
    ON b."ISBN"=r."ISBN"
    GROUP BY b."Book-Title" 
    HAVING "Reviews-Qty" > 300
    ORDER BY "Rating-Avg" DESC
    LIMIT 10
'''

# Title for the printed DataFrame
print("Top 10 Books with High Ratings and More than 300 Reviews:")

# Execute the query using a Pandas DataFrame
df = pd.read_sql_query(querystring, conn)

# Print the DataFrame
print(df)

# Be sure to close the connection
conn.close()

Top 10 Books with High Ratings and More than 300 Reviews:
                                          Book-Title  Rating-Avg  Reviews-Qty
0  Harry Potter and the Prisoner of Azkaban (Book 3)    5.852804          428
1       Harry Potter and the Goblet of Fire (Book 4)    5.824289          387
2  Harry Potter and the Order of the Phoenix (Boo...    5.501441          347
3   Harry Potter and the Chamber of Secrets (Book 2)    5.183453          556
4  The Fellowship of the Ring (The Lord of the Ri...    4.948370          368
5  Harry Potter and the Sorcerer's Stone (Harry P...    4.895652          575
6                              To Kill a Mockingbird    4.700000          510
7                                  The Da Vinci Code    4.642539          898
8                 The Five People You Meet in Heaven    4.551163          430
9                             The Catcher in the Rye    4.545657          449

### 4. Review and ISBN Statistics

In [45]:
import pandas as pd
import sqlite3

# Create a SQL connection to our SQLite database
database_file = 'BooksDataBase.db'
conn = sqlite3.connect(database_file)

# SQL query to retrieve book titles, average rating, and number of reviews for books with more than 300 reviews
querystring = '''
-- Count the total number of reviews
--SELECT COUNT(r."User-ID") as "Reviews-Qty" 
--FROM ratings r;

-- Count the total number of distinct ISBNs
--SELECT COUNT(DISTINCT r."ISBN") as "ISBN-Qty" 
--FROM ratings r;

-- Calculate the ratio of Reviews to ISBNs
SELECT "Reviews-Qty", "ISBN-Qty", "Reviews-Qty" * 1.0 / "ISBN-Qty" as "Reviews-to-ISBN-Ratio"
FROM
    -- Subquery to get the total number of reviews
    (SELECT COUNT(r."User-ID") AS "Reviews-Qty" FROM ratings r),
    -- Subquery to get the total number of distinct ISBNs
    (SELECT COUNT(DISTINCT r."ISBN") as "ISBN-Qty" FROM ratings r);
'''

# Title for the printed DataFrame
print("Review and ISBN Statistics:")

# Execute the query using a Pandas DataFrame
df = pd.read_sql_query(querystring, conn)

# Print the DataFrame
print(df)

# Be sure to close the connection
conn.close()

Review and ISBN Statistics:
   Reviews-Qty  ISBN-Qty  Reviews-to-ISBN-Ratio
0      1149780    340556               3.376185

## Covert data to json

In [5]:
import pandas as pd
import sqlite3

# Create a SQL connection to our SQLite database
database_file = 'BooksDataBase.db'
conn = sqlite3.connect(database_file)

# SQL query to retrieve book titles, average rating, and number of reviews for books with more than 300 reviews
querystring = '''
SELECT * 
FROM books b INNER JOIN ratings r 
ON b.ISBN = r.ISBN 
INNER JOIN users u 
ON u."User-ID" = r."User-ID" 
'''

# Execute the query and load the results into a DataFrame
df = pd.read_sql_query(querystring, conn)

# Close the connection to the database
conn.close()

# Remove duplicate columns if any
df = df.loc[:, ~df.columns.duplicated()]

# Convert the DataFrame to JSON format and save it to a file
json_file_path = 'query_results.json'
df.to_json(json_file_path, orient='records', lines=True)

print(f"Query results saved to {json_file_path}")

Query results saved to query_results.json